@import "./reset";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fraunces:wght@900&display=swap");
body {
    // background: linear-gradient(to right, rgb(0, 90, 167), rgb(255, 253, 228));
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(https://www.wimi-teamwork.com/static/medias/logiciels-collaboration-1280x640-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(
        to right,
        rgb(255, 239, 186),
        rgb(255, 255, 255)
    );
    // background: linear-gradient(to right, rgb(0, 180, 219), rgb(0, 131, 176));
    opacity: 0.5;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    line-height: 50px;
    padding: 20px;
    gap: 40px;
    // border: 2px solid black;
    // border-radius: 0px 0px 15px 15px;
    // box-shadow: 1px 1px 2px;
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.75);
    // background: #a4d0a4;
    background: #6a9fef;
    // color: white;
    font-size: large;
}
h1 {
    font-family: "Dancing Script", cursive;
    // font-family: "Fraunces", serif;
    font-size: xx-large;
    font-weight: 600;
}
.header_date {
    position: absolute;
    // top: 30px;
    right: 15px;
    font-family: cursive, sans-serif;
    color: white;
}
.task_filter_display {
    position: absolute;
    top: 35px;
    left: 60px;
    font-family: cursive, sans-serif;
    background-color: transparent;
    border: 3px solid white;
    color: white;
}
option {
    color: black;
}
.task {
    z-index: 2;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 250px;
    height: 100%;
    // background-color: transparent;
    background-color: rgba(74, 74, 74, 0.203);
    backdrop-filter: blur(15px);
    border: 2px solid transparent;
    padding: 10px;
    gap: 20px;
    transform: translate(-100%);
    transition: 1s;
    color: white;
}
.bi.bi-file-plus {
    position: absolute;
    // top: 30px;
    left: 15px;
    scale: 1.5;
}
.bi.bi-file-plus:hover {
    transform: scale(1.2);
}
.bi.bi-x-lg {
    position: absolute;
    top: 15px;
    right: 15px;
}
.bi.bi-x-lg:hover {
    transform: scale(1.2);
}
.task_picture {
    position: absolute;
    top: 15px;
    left: auto;
    width: 100px;
}
.task_input_title,
.task_input_description {
    border-radius: 8px;
    padding: 5px;
    box-shadow: 1px 1px 2px;
    width: 200px;
}
// .inputStyle {
//     border-radius: 8px;
//     padding: 5px;
//     box-shadow: 1px 1px 2px;
//     width: 200px;
// }
select {
    border-radius: 5px;
    // padding: 5px;
}
.task_input {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    &_filter {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &_input_div {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    &_filter_element {
        padding: 4px;
    }
}
main {
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 30px;
    gap: 20px;
    min-height: 615px;
    font-family: cursive, sans-serif;
    // background: linear-gradient(to right, rgb(0, 90, 167), rgb(255, 253, 228));
    // background-image: url(https://www.wimi-teamwork.com/static/medias/logiciels-collaboration-1280x640-1.png);
    // background-repeat: no-repeat;
    // background-size: cover;
}

// main > * {
//     flex: 1 0 100px;
// }
.container_tasks {
    //a supp margin
    // margin-left: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 200px;
    padding: 10px;
    gap: 20px;
    background-color: #f7e1ae;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.75);
    &:hover {
        transform: scale(1.05);
        transition: 500ms;
    }
}
